<div class="text-center">
	<header class="bg-white border-bottom box-shadow mb-3">
		<h1 class="display-4">Admin Creation</h1>
	</header>

	<form method="POST" action="/SuperAdmin/CreateAdmin">
		<div class="row align-content-center">
			<div class="col-md-12">
				HTTP url callback: <input type="text" name="Url" />
			</div>
		</div>

		<br />

		<div class="row align-content-center">
			<div class="col-md-12">
				<a href="/home/index" class="btn btn-primary">Back to home</a>&nbsp;
				<input type="submit" class="btn btn-primary" value="Create" />
			</div>
		</div>
	</form>
</div>