@using Descartes.Wms2.HowToUse.Mvc.Shared.DTOs;

@model CashAccountOutputModel

@{
	ViewData["Title"] = "Portfolio Cash Account Balance";
}


<div class="text-center">
	<header class="bg-white border-bottom box-shadow mb-3">
		<h1 class="display-4">Portfolio Cash Amount</h1>
	</header>

	<div class="row align-content-center">
		<div class="col-md-12">
			<a href="/ClientPosition/PortfoliosList">Back to list</a>
		</div>
	</div>

	<div class="row align-content-center">
		<div class="col-md-12 align-content-center">
			<b>@this.Model.Iban</b>
			<br />
			Amount in date @this.Model.BalanceDate.ToString("dd/MM/yyyy"): @this.Model.Balance CHF
		</div>
	</div>
</div>