@inject IConfiguration Configuration

@{
	var token = Configuration["SuperAdminToken"];
}

@model GetClientIdViewModel

<div class="text-center">
	<header class="bg-white border-bottom box-shadow mb-3">
		<h1 class="display-4">AClient Cockpit</h1>
	</header>

	<form class="row g-3" method="POST" action="/Client/SetClientId">
		<input type="hidden" name="Token" value="@token" />

		<div class="col-md-12">
			<label for="clientId" class="form-label">Client ID</label>
			<input type="number" class="form-control" id="clientId" name="ClientId" min="0" value="@this.Model.ClientId" maxlength="5">
			@Html.ValidationMessageFor(m => m.ClientId, "", new { @class = "text-danger" })
		</div>

		<div class="col-12">
			<button type="submit" class="btn btn-primary">Go to client's portfolio list</button>
		</div>
	</form>
</div>