@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<header class="bg-white border-bottom box-shadow mb-3">
		<h1 class="display-4">WMS2 APIs Service - Walk Through How To Do</h1>
	</header>

	<div class="row g-3">
		<div class="card">
			<div class="card-body">
				<form method="POST" action="/Home/CreateAsAdmin">
					<label class="form-label">Administrative Client Registration</label>
					<br />
					<button type="submit" class="btn btn-primary">Go</button>
				</form>
			</div>
		</div>
	</div>

	<br />

	<div class="row g-3">
		<div class="card">
			<div class="card-body">
				<form method="POST" action="/Home/CreateAsClient">
					<label class="form-label">Client Self Registration</label>
					<br />
					<button type="submit" class="btn btn-primary">Go</button>
				</form>
			</div>
		</div>
	</div>

	<br />

	<div class="row g-3">
		<div class="card">
			<div class="card-body">
				<form method="POST" action="/Home/ClientCockpit">
					<label class="form-label">Client Cockpit</label>
					<br />
					<button type="submit" class="btn btn-primary">Go</button>
				</form>
			</div>
		</div>
	</div>

	<br />

	<div class="row g-3">
		<div class="card">
			<div class="card-body">
				<label class="form-label">Create Admin and subscribe for HTTP callbak</label>
				<br />
				<a href="/SuperAdmin/CreateAdmin" class="btn btn-primary">Go</a>
			</div>
		</div>
	</div>
</div>